.main-container {
    display: block;
    background: #E8E4C9;
}
.headline {
    text-align: center;
    padding: 40px 0;
    margin-bottom: 40px;
}
.imgcoin {
    margin-left: 10px;
    width: 70px;
    height: 70px;
}
.bodytitle {
    padding: 40px 0;
    background: #A52A2A;
    margin-left: 1%;
    border-radius: 5%;
    border: 2px #F08080 solid;
}
.body-info {
    border-radius: 5%;
    border: 2px #F08080 solid;
    background: #B22222;
    padding: 10px;
    margin: 10px;
}
.form-control.col-md-12.info {
    border: 1px #C0C0C0 solid;
    border-bottom-color: transparent;
    background: #A52A2A;
    color: #C0C0C0;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.form-control.col-md-12.infoff {
    border: 1px #C0C0C0 solid;
    background: #A52A2A;
    color: #C0C0C0;
    border-top-left-radius: 0px 0px;
    border-top-right-radius: 0px 0px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.burn {
    margin-bottom: 50px;
}
.mr-5 strong {
    color: #C0C0C0;
    font-size: 20px;
    margin-left: 20px;
}
strong.namecoin {
    color: #EDC9AF;
}
.imgcoinmm {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 9px;
}
span.textname {
    color: #E8E4C9;
    font-size: 22px;
    font-weight: 600;    
}
span.texttname {
    color: #E8E4C9;
    font-size: 22px;
    font-weight: 600;
    margin-right: 9px;
}
.mt-5 {
    margin-bottom: 40px;
}
.withdraw {
    margin-top: 30px;
    margin-bottom: 40px;
}
.btn.btn-primary {
    background: #800000;
    border: 1px #C0C0C0 solid;
    border-top-color: transparent;
    border-top-left-radius: 0px 0px;
    border-top-right-radius: 0px 0px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}
.btn.btn-primary:hover {
    background: #800000;
    border: 1px #C0C0C0 solid;
    border-top-color: transparent;
    color: #C0C0C0;
    border-top-left-radius: 0px 0px;
    border-top-right-radius: 0px 0px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}
span.font-bold {
    color: #C0C0C0;
    font-size: 18px;
    margin-right: 10px;
}
p {
    color: #EDC9AF;
    font-size: 20px;
}
.btn.btn-secondary.btn-lg {
    margin: 5% 33%;
}